<template>
  <div id="app">
    <a class="emart-btn btn-sm">이미지 선택</a>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld'

export default {
  name: 'App',
  components: {
  }
}
</script>

<style lang="scss">
  @import "App";
 </style>
