
/*---- Variables ----*/
/* Color */
$danger: #dc3545;

/*---- Mixin ----*/
@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}
p {
  font-size: 14px;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

/* clearfix */
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.clear {
  clear: both;
}

/* css float*/
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
/* colors */
.danger {
  color: $danger;
}
/* text align */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

/* Emart Buttons */
.emart-btn {
  display: inline-block;
  color: #fcb416;
  text-align: center;
  border-radius: 21px;
  background-color: #ffffff;
  border: solid 2px #fcb416;

  &.btn-sm {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;
    padding: 5px 20px;
  }
  &.btn-md {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    padding: 10px 30px;
  }
}
