.maxst-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  height: 100vh; /* mobile height does't contain URL bar */
  background: rgba(0,0,0,0.7);
  display: table;
  transition: opacity .3s ease;
  z-index: 999;

  .modal-wrapper
  {
    display: table-cell;
    vertical-align: middle;
    overflow: hidden;

    .modal-container {
      max-width: 665px;
      /*max-height: 80%; */
      max-height: 331px;
      overflow-y: auto;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
      transition: all .3s ease;
      padding-left: 30px;
      padding-right: 30px;
      margin: 0 auto;
      background-color: #fff;

      .modal-header {
      }
      .modal-body{
        .modal-body__content {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }
      }
    }
  }
}

.maxst-modal-img__close {
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}
/* common modal css */
.modal-container::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: transparent;
}

.modal-container::-webkit-scrollbar
{
  width: 3px;
  background-color: transparent;
}
.modal-container::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(85, 85, 85, 0.2);
}
.modal-enter, .modal-leave {
  //opacity: 0;
}
.modal-leave-active {
  opacity: 0;
}
.modal-enter .modal-container, .modal-leave .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* end common modal css */
