<template>
  <transition name="modal">
    <div class="maxst-modal" v-show="show"  >
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <!--<img src="../../../assets/images/btn-x.svg" alt="close" @click="$emit('close')" class="right  maxst-modal__close">-->
            <h2 class="text-center">{{title}}</h2>
          </div>
          <div class="modal-body" >
            <article class="modal-body__content">
              <slot></slot>
            </article>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
  export default {
    name: 'Modal',
    props: {
      title: {
        type: String,
        required: true,
      },
      show: {
        type: Boolean,
        required: true,
        twoWay: true
      },
      content: {
        type: Object
      }
    },
    data () {
      return {
        player: null
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        if (newVal) {
          $('body').css({overflow: 'hidden'});
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    beforeDestroy () {
      console.log('destroyed')
    },
    components: {
    }

  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  @import "../../App";
  @import "Modal.scss";

  .modal-body__content {

  }
</style>
