<template>
  <div>
    <button type="button" @click="sideBarActive = !sideBarActive">수정</button><br>
    <div class="template-detail-main">
      <div class="template-container" :style="{'width': sizes.containerWidth + 'px', 'height': sizes.containerHeight + 'px'}">
        <div class="tags-wrap" v-for="item in itemsJsonText">
          <vue-draggable-resizable :w="sizes.tagsSize[item.dataCol].w" :h="sizes.tagsSize[item.dataCol].h" :x="xAxisinitPositon(item)" :y="yAxisinitPositon(item)" :z="item.position.z * 1000" v-on:dragging="onDrag" v-on:resizing="onResize" @dragstop="onDragStop(item)" :parent="true" :resizable="false">
            <template-tag :item="item"></template-tag>
          </vue-draggable-resizable>
        </div>
        <div class="template-marker-wrap">
          <div class="template-marker" :style="{width:templateMarker.w+ 'px' , height: templateMarker.h + 'px'}">
            <img src="../assets/target-center.svg">
          </div>
        </div>
      </div>
      <div class="template-side-bar" v-show="sideBarActive">
        <button type="button" @click="updateTemplateInfo">저장</button><br>
        <label>Width: <input type="number" v-model.number.lazy ="templateModel.markerWidth" min="0" :max="sizes.containerWidth"></label><br>
        <label>Height: <input type="number" v-model.number.lazy ="templateModel.markerHeight" min="0" :max="sizes.containerHeight"></label>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import TemplateTag from '../components/TemplateTags.vue'
  import VueDraggableResizable from 'vue-draggable-resizable'
  import { templateUtill } from '../utill'

  export default {
    name: 'TemplateDraggable',
    data: function () {
      return {
        id: 1,
        sideBarActive: false,
        xPos: 100,
        x: 0,
        y: 0,
        mm: 0.264,
        templateModel: {},
        itemsJsonText: [],
        maxW: 0,
        maxH: 0,
   //     templateMarker: {},
        containerCenterPos: {}
      }
    },
    computed: {
      ...mapState({
        sizes: state => state.templates.sizes
      }),
      ...mapGetters('templates', ['isStoreEmpty', 'getTemplatesById']),
      templateMarker () {
        this.templateModel.markerWidth = (this.templateModel.markerWidth  > this.maxW) ?  this.maxW : this.templateModel.markerWidth;
        this.templateModel.markerHeight = (this.templateModel.markerHeight  > this.maxH) ?  this.maxH : this.templateModel.markerHeight;;

        let w = Math.ceil(this.templateModel.markerWidth / this.mm);
        let h = Math.ceil(this.templateModel.markerHeight / this.mm);

        console.log(w, h);

        return {w, h}
      }
    },
    created () {
      if (this.isStoreEmpty) {
        let self = this;
        this.$store.dispatch('templates/getTemplate', this.id).then((data) => {
          this.templateModel = this.getTemplatesById(1);
          this.setTemplateModel();
        }).catch(function (error) {
          console.log(error)
        });
      } else {
        this.templateModel = this.getTemplatesById(1);
        this.setTemplateModel();
      }
    },
    mounted () {
      this.$nextTick(() => {
        console.log('mounted', this);
      })
    },
    watch: {
      templateMarker: function (newVal, oldVal) {
        if (isNaN(newVal.w) || isNaN(oldVal.w)) {
          return;
        }
        console.log(newVal, oldVal);
        let scale = (newVal.w / oldVal.w);

        this.itemsJsonText.map((item) => {
          item.position.x = Number((item.position.x / scale).toFixed(2));
          item.position.y = Number((item.position.y / scale).toFixed(2));
        });
      }
    },
    methods: {
      setTemplateModel: function () {
        this.maxW = Math.floor(this.sizes.containerWidth * this.mm);
        this.maxH = Math.floor(this.sizes.containerHeight * this.mm);

        this.templateModel.markerWidth = this.templateModel.markerWidth * 1000; // mm 단위로 변환
        this.templateModel.markerHeight = this.templateModel.markerHeight * 1000; // mm 단위로 변환
        this.templateModel.markerWidth = (this.templateModel.markerWidth > this.maxW) ? this.maxW : this.templateModel.markerWidth;
        this.templateModel.markerHeight = (this.templateModel.markerHeight > this.maxH) ? this.maxH : this.templateModel.markerHeight;

//        let w = Math.ceil(this.templateModel.markerWidth / this.mm);
//        let h = Math.ceil(this.templateModel.markerHeight / this.mm);
//
//        this.templateMarker = {w, h};

        this.itemsJsonText = JSON.parse(this.templateModel.itemsJsonText);
        this.containerCenterPos = templateUtill.getCenter(this.sizes);
      },
      xAxisinitPositon: function (item) {
        let xAxios;
        xAxios = templateUtill.xAxis(item, this.sizes, this.containerCenterPos, this.templateMarker.w)
        return xAxios;
      },
      yAxisinitPositon: function (item) {
        let yAxios;
        yAxios = templateUtill.yAxis(item, this.sizes, this.containerCenterPos, this.templateMarker.w)
        return yAxios;
      },
      xAxisByCenterPos: function (item) {
        let xAxios;
        if (item.align === 'center') {
          let targetCenterWidth = Math.floor(this.sizes.tagsSize[item.dataCol].w / 2);
          xAxios = (this.x - this.containerCenterPos.x + targetCenterWidth) / this.templateMarker.w;
        } else if (item.align === 'right') {
          xAxios = (this.x - this.containerCenterPos.x + this.sizes.tagsSize[item.dataCol].w ) / this.templateMarker.w;
        } else if (item.align === 'left') {
          xAxios = (this.x - this.containerCenterPos.x) / this.templateMarker.w;
        }
        return Number(xAxios.toFixed(2));
      },
      yAxisByCenterPos: function (item) {
        let targetCenterHeight = Math.floor(this.sizes.tagsSize[item.dataCol].h / 2);
        let yAxios = ((this.y - this.containerCenterPos.y) + targetCenterHeight ) / this.templateMarker.w;
        return Number(yAxios.toFixed(2));
      },
      onResize: function (x, y, width, height) {
        this.x = x;
        this.y = y;
        this.width = width;
        this.height = height;
      },
      onDrag: function (x, y) {
        this.x = x;
        this.y = y;
      },
      onDragStop: function (item) {
        item.position.x = this.xAxisByCenterPos(item);
        item.position.y = this.yAxisByCenterPos(item);
        console.log('on drag stop', item);
      },
      updateTemplateInfo: function () {
        const req = Object.assign({}, this.templateModel);
        console.log('req', req);
        req.itemsJsonText = JSON.stringify(this.itemsJsonText);
        req.markerWidth = Number((this.templateModel.markerWidth / 1000).toFixed(2));
        req.markerHeight = Number((this.templateModel.markerHeight / 1000).toFixed(2));

//        this.$store.dispatch('fetchTemplate', {id: this.id, req}).then(() => {
//        }).catch(function (error) {
//          console.log(error)
//        });

        this.$http.put(`Templates/${this.id}`, req).then((result) => {
          console.log(result.data);
          this.templateModel = result.data;
          this.setTemplateModel();
        }).catch(function (error) {
          console.log(error)
        });
      }
    },
    components: {
      TemplateTag,
      VueDraggableResizable
    }
  }
</script>
<style>
  .template-detail-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .template-container {
    position: relative;

  }
  .template-container .tags-wrap {
    width: 100%;
    height: 100%;
  }
  .template-marker-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: solid 1px #b2b2b2;
    z-index: -1;
  }
  .template-marker {
    border: 2px dotted #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .template-side-bar {
    width: 265px;
    height: 600px;
    padding: 135px 20px;
    background-color: #c9c9c9;
    border: solid 1px #b2b2b2;
  }
</style>
