<template lang="html">
  <div class="">
    <single-check-box  id="parent" cname="parent"></single-check-box>
    <single-check-box  id="child1" cname="child"></single-check-box>
    <single-check-box  id="child2" cname="child"></single-check-box>
  </div>
</template>

<script>
  import { multiCheckBoxUtil } from '../utill';
  import SingleCheckBox from '../components/SingleCheckBox.vue'

  export default {
    name: 'MultiCheckBox',
    props: {
      title: {
        type: String,
        required: true
      },
      message: String
    },
    data () {
      return {
      }
    },
    mounted () {
      this.$nextTick(() => {
        console.log($)
        console.log(jQuery)
        multiCheckBoxUtil('#parent', '.child');
      });
    },
    beforeDestroy () {
      console.log('destroyed')
    },
    components: {
      SingleCheckBox
    }
  }
</script>

<style lang="scss">
</style>
