<template>
  <div class="products-main">
    <div class="products-upload-main">
      <div class="content">
        <div class="products-upload-block" id="products-upload-block" style="display: block;">
          <div class="input-group margin-bottom-10">
            <label class="input-group-btn">
                <span class="emart-btn btn-md">
                    <input id="" name="UploadFile[]" type="file" accept="image/*" style="display: none;" multiple value="" /> 이미지 선택
                </span>
            </label>
          </div>
          <div class="upload-block margin-bottom-10" id="uploadDisplay">
          </div>
          <div class="text-center">
            <button type="button" id="add-cloud-trackable" class="emart-btn btn-md" @click="upload">등록</button>
          </div>
        </div>
        <div class="products-upload-progress-block" id="products-upload-progress-block" style="display: none;">
          <div class="upload-summary-block">
            <div class="ui-upload-summary">
              <div class="ui-upload-summary__progressbar-block">
                <div class="ui-upload-summary__progressbar" id="ui-upload-progressbar" style="width: 0px;"></div>
              </div>
              <div class="ui-upload-summary__result-block margin-top-20">
                <div class="ui-upload-summary__info">
                  <ul>
                    <li>전체</li>
                    <li>등록 완료</li>
                    <li>등록 실패</li>
                  </ul>
                </div>
                <div class="text-center">
                  <h5 class="ui-upload-summary__inprogress">
                    등록 중입니다...
                  </h5>
                  <button type="button" class="emart-btn btn-md" id="close-upload" data-dismiss="modal">상품 관리로 돌아가기</button>
                </div>
                <div class="ui-upload-summary__desc"></div>
                <div class="ui-upload-summary__upload-table-wrap">
                  <table class="ui-upload-summary__upload-table" id="ui-upload-summary__failed-table">
                    <caption class="text-left">
                      <strong>등록 실패 목록: ( Total: <span id="ui-upload-summary__failed-table-total">0</span> )</strong>
                    </caption>
                    <colgroup>
                      <col width="30%" />
                      <col width="60%" />
                      <col width="10%" />
                    </colgroup>
                    <thead>
                    <tr>
                      <th>File Name</th>
                      <th>Status</th>
                      <th>Size</th>
                    </tr>
                    </thead>
                    <tbody class="font-12"></tbody>
                  </table>
                </div>
                <p class="text-center">
                </p>
              </div>
              <div class="text-center">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { multiFileUploadUtill } from '../utill';
  import { mapState, mapGetters } from 'vuex'
  import { baseUrl } from '../Const'

  export default {
    name: 'Product',
    data: function () {
      return {
      }
    },
    computed: {
    },
    created () {
    },
    mounted () {
      this.$nextTick(() => {
        multiFileUploadUtill.init('#uploadDisplay'); // 파일 업로드 UI 모듈 init 호출
      })
    },
    watch: {
    },
    methods: {
      upload(){
        const fileInfoList = multiFileUploadUtill.getFileInfo();
        if (fileInfoList.length === 0) {
          alert('선택해 짜샤');
          return;
        }
        const fileInfoListCopy = Array.from(fileInfoList);
        this.fileInfoList = fileInfoListCopy;
        this.parallelAjaxRequest();
      },
      parallelAjaxRequest() {
        $('.products-upload-block').css('display', 'none'); // 파일 업로드 창  보이게
        $('.products-upload-progress-block').css('display','block'); // progress block  보이게

        for (let i = 0; i < 2; i++) {
          this.fileUploader(this.fileInfoList);
        }
      },
      fileUploader() {
        if (this.fileInfoList.length === 0) {
          multiFileUploadUtill.onUploadComplete();
          this.displayFalidFiles(); // 실패한 파일 목록 표시
          return;
        }

        const data = {};
        let fileInfo = this.fileInfoList.shift();

        if (fileInfo.status !== 'deleted' && fileInfo.valid === true) {
          let name = fileInfo.fileName;
          let uploadFile = fileInfo.base64Data;
          let originalFileName = fileInfo.fileFullName;

          data.RealWidth = 1;
          data.Custom = '';
          data.Name = name;
          data.UploadFile = uploadFile;
          data.OriginalFileName = originalFileName;

          let param = { fileId: fileInfo.fileId, data: data };

          this.ajaxUploadTrackable(param).then((result) => {
            if (result === 201 || result === 400) {
              this.fileUploader(this.fileInfoList);
            }
          }).catch((result) => {
            //   result.request.abort();
            //return;
          });

        } else {
          this.fileUploader(this.fileInfoList);
        }
      },
      ajaxUploadTrackable(param) {
        const fileId = param.fileId;
        const data = param.data;

        return this.$http.post(`/Trackables/`, data).then((result) => {
          if (result.status === 201) {
            multiFileUploadUtill.setStatus(fileId, 'complete');
            return 201;
          }
        }).catch(function (result) {
          if (result.response.status === 400) {
            let errorObj = result.response.data.modelValidResult[0];
            multiFileUploadUtill.setStatus(fileId, { status: 'fail', errorMsg: errorObj.errorMessage });
            return 400;
          }
          else {
            multiFileUploadUtill.displaySummary(result.response.statusText);
            return result;
          }
        });
      },
      displayFalidFiles() {
        let invalidFiles = multiFileUploadUtill.invalidFileList
        let invalidFileTotalCount = multiFileUploadUtill.invalidFileTotalCount
        let $failedFilesTable = $('#ui-upload-summary__failed-table tbody');
        let $faildFilesTotal = $('#ui-upload-summary__failed-table-total');
        $faildFilesTotal.text(invalidFileTotalCount);
        $failedFilesTable.empty();

        invalidFiles.forEach(function (failedFile, idx) {
          if (failedFile.status !== 'deleted') {
            let fileSize = Number(failedFile.fileSize / 1024).toFixed(1);
            let html = '<tr>';
            html += '<td>' + failedFile.fileName + '</td>';
            html += '<td>' + failedFile.errorMsg + '</td>';
            html += '<td>' + fileSize + 'KB </td>';
            $failedFilesTable.append(html);
          }
        });
      },
    },
    components: {
    }
  }
</script>
<style lang="scss">
  @import "../App.scss";

  * {
    box-sizing: border-box;
  }


  .upload-block .ui-upload-summary {
    display: none;
  }
  .upload-summary-block {
    padding-top: 35px;
  }
  .ui-upload-wrap{
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #e9e9e9;
  }
  .ui-upload-wrap hr {
    margin: 10px;
  }
  .ui-upload-container {
    height: 130px;
    overflow: auto;
  }
  .ui-upload-summary {
    text-align: left;
  }
  .ui-upload-summary__info {
    display: flex;
    justify-content: center;
  }
  .ui-upload-summary__info > ul {
    margin: 20px;
  }
  .ui-upload-summary__info > ul li{
    font-size: 14px;
    list-style: disc;
  }
  .ui-upload-summary .ui-upload-summary__desc {
    color: #dc3545;
  }

  .ui-upload-summary__progressbar-block {
    height: 21px;
    background: #e8e8e821;
    max-width: 800px;
    border-radius: 10px;
    border: 1px solid #b2b2b2;
    margin: 0 auto;
  }

  .ui-upload-summary__progressbar {
    width: 0;
    max-width: 100%;
    height: 100%;
    background: #fbb317;
    border-radius: 10px;
    transition:width 0.3s ease;
  }
  .ui-upload-summary__result {
    display: flex;
    justify-content: center;
  }
  .ui-upload-summary__upload-table-wrap {
    height: 200px;
    max-width: 804px;
    margin: 0 auto;
    overflow: auto;
  }
  .ui-upload-summary__upload-table {
    width: 100%;
    font-size: 12px;
    border-collapse: collapse;

    th{
      color: #fff;
      text-align: center;
      background-color: #b2b2b2;
      border: solid 1px #cdcdcd;
    }
    td {
      background-color: #fff;
      border-bottom: solid 1px #cdcdcd;
    }
    th, td {
      padding: 13px;
    }
    .ui-upload__fileName {
      display: inline-block;
      width: 150px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .ui-upload__fileName .fa-image {
      margin: 0 5px;
    }

    .ui-upload__error {
      &.danger {
        color: #dc3545;
      }
    }

    .ui-upload__cancel .fa{
      font-size: 16px;
      color: #dc3545;
      cursor: pointer;
    }
  }
  .ui-upload-summary__upload-table .ui-upload__fileSize {

  }
  .ui-upload-summary__upload-table .ui-upload__status {

  }
</style>
