<template>
  <div>
    <div class="products-list-main">
      <div v-for="(template, index ) in templates">
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import TemplateTag from '../components/TemplateTags.vue'

  export default {
    name: 'ProductList',
    data: function () {
      return {
      }
    },
    computed: {
      model () {
      },
      templates () {
      },
      sizes () {
      }
    },
    created () {
      console.log(this);
    },
    mounted () {
      this.$nextTick(() => {
          console.log('mounted')
      })
    },
    watch: {
    },
    methods: {
      setItemsStyle (item, index) {
      },
    },
    components: {
    }
  }
</script>
<style>
  * {
    box-sizing: border-box;
  }
</style>
