<template lang="html">
    <span class="check_box">
        <input type="checkbox" :id="id" :class="cname" value=""  />
        <label :for="id"></label>
    </span>
</template>

<script>
  export default {
    name: 'SingleCheckBox',
    props: ['id', 'cname'],
    data () {
      return {
      }
    },
    mounted () {
      this.$nextTick(() => {
          console.log(this)
      });
    },
    beforeDestroy () {
    },
    components: {
    }
  }
</script>

<style lang="scss" scoped>
  .check_box input[type=checkbox]{
    position: absolute;
    left: -9999px;

    & + label {
      position:relative;
      cursor:pointer;
      margin:0;

      &:before {
        content:'';
        width: 20px;
        height: 20px;
        background-color:#fff;
        display:inline-block;
        vertical-align:text-bottom;
        margin-right:19px;
        box-shadow:inset 0 1px 3px rgba(0,0,0,0.1);
        border: solid 1px #fbb317;
      }
      &:after {
        content:url("../assets/checkmark.svg");
        display: inline-block;
        position: absolute;
        left: 4px;
        transition: all 0.2s ease;
        opacity: 0.1;
      }
    }

    &:checked + label:after {
      opacity:1;
    }
    &:not(:checked) + label:after {
      opacity:0.1;
    }
    &.dash + label:after {
      content: '\2014';
      opacity: 1;
      color: #fbb317;
      top: -2px;
      left: 3px;
    }
  }
</style>
