<template>
  <div class="template-side-bar"></div>
</template>

<script>
  export default {
    props: {
      item: {
        item: Object,
        default: {}
      }
    },
    data: function () {
      return {
      }
    },
    computed: {
      // 계산된 getter
    },
    mounted () {
      this.$nextTick(() => {
//        this.$http.post('/', data).then((result) => {
//          let data = result.data;
//        });
      })
    },
  }
</script>
<style>
  * {
    box-sizing: border-box;
  }
  .template-tag-wrap {
    background-color: rgba(205, 205, 205, 0.8);
    border: solid 1px #595959;
  }
  .template-tag {
    display: inline-block;
    width: 124px;
    height: 46px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    /*line-height: 46px;*/
    vertical-align: bottom;
  }
  .template-tag.video {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 338px;
    height: 219px;
    text-align: center;
    color: #000;
    font-size: 12px;
    background-color: transparent;
  }
  .template-tag.image {
    text-align: center;
    color: #000;
    font-size: 12px;
    width: 68px;
    height: 68px;
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .template-tag > p,
  .template-tag__video > p{
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 0;
  }
  .template-tag.image.scoreImgUrl {
    width: auto;
    height: auto;
    line-height: 0;
    margin: 8px 12px;
  }
  .template-tag.image.salesRankImgUrl {
    width: 88px;
    height: 88px;
    padding-top: 20px;
    padding-bottom: 17px;
  }
  .template-tag.text.name.center {
    text-align: center;
    width: 195px;
    height: auto;
    line-height: 40px;
    vertical-align: middle;
  }
  .template-tag.text.right.blue {
    line-height: 46px;
    text-align: right;
    background: url(../assets/left_blue_tag.svg) no-repeat;
    background-size: contain;
    margin: 5px;
    padding-right: 25px;
    vertical-align: middle;
  }
  .template-tag.text.right.orange {
    line-height: 46px;
    text-align: right;
    background: url(../assets/left_orange_tag.svg) no-repeat;
    background-size: contain;
    margin: 5px;
    padding-right: 25px;
  }
  .template-tag.text.left.green {
    line-height: 46px;
    text-align: left;
    background: url(../assets/right_green_tag.svg) no-repeat;
    background-size: contain;
    margin: 5px;
    padding-left: 25px;
  }
  .template-tag.text.left.pink {
    line-height: 46px;
    text-align: left;
    background: url(../assets/right_pink_tag.svg) no-repeat;
    background-size: contain;
    margin: 5px;
    padding-left: 25px;
  }
  .template-tag.gray {
  }
</style>
