<template>
  <div class="template-tag-container" :class="{ 'thumnail': isThumnail }">
    <div class="template-tag-wrap" v-if="item.type === 'text' || item.type === 'link'">
      <div class="template-tag" :class="[item.type, item.dataCol, item.align, item.bgColor]">
        <span v-show="!isThumnail">{{item.name}}</span>
      </div>
    </div>
    <div class="template-tag-wrap" v-else-if="item.type === 'image' && item.dataCol === 'scoreImgUrl'">
      <div class="template-tag" :class="[item.type, item.dataCol]" >
        <img src="../assets/stars.svg" alt="" width="100%">
      </div>
    </div>
    <div class="template-tag-wrap" v-else-if="item.type === 'image'">
      <div class="template-tag" :class="[item.type, item.dataCol]">
        <img src="../assets/img-icon-2.svg" alt="">
        <p v-show="!isThumnail">{{item.name}}</p>
      </div>
    </div>
    <div class="template-tag-wrap" v-else-if="item.type === 'video'">
      <div class="template-tag" :class="[item.type, item.dataCol]">
        <div class="template-tag__video">
          <img src="../assets/vid-icon.svg" alt="">
          <p v-show="!isThumnail">{{item.name}}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      item: {
        type: Object,
        default: {}
      },
      isThumnail: {
        type: Boolean,
        default: false
      }
    },
    data: function () {
      return {
      }
    },
    computed: {
      // 계산된 getter
    },
    mounted () {
      this.$nextTick(() => {
//        this.$http.post('/', data).then((result) => {
//          let data = result.data;
//        });
      })
    },
  }
</script>
<style>
  * {
    box-sizing: border-box;
  }
  .template-tag-container {
    width: 100%;
    height: 100%;
  }
  .template-tag-container .template-tag-wrap:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    cursor: move;
    z-index: 50;
  }
  .template-tag-container .template-tag-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(205, 205, 205, 0.8);
    border: solid 1px #595959;
    position: relative;
  }
  .template-tag-container .template-tag {
    display: inline-block;
    width: 124px;
    height: 46px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    /*line-height: 46px;*/
    vertical-align: bottom;
  }
  .template-tag-container.thumnail .template-tag {
    width: 100%;
    height: 100%;
    font-size: 8px;
  }
  .template-tag-container .template-tag-wrap:before {
    cursor: default;
  }
  .template-tag-container .template-tag.video {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 338px;*/
    /*height: 219px;*/
    text-align: center;
    color: #000;
    font-size: 12px;
    background-color: transparent;
  }
  .template-tag-container .template-tag.image {
    text-align: center;
    color: #000;
    font-size: 12px;
    width: 68px;
    height: 68px;
    padding-top: 10px;
    padding-bottom: 9px;
  }
  .template-tag-container .template-tag > p,
  .template-tag-container .template-tag__video > p{
    line-height: 1;
    margin-top: 4px;
    margin-bottom: 0;
  }
  .template-tag-container .template-tag.image.scoreImgUrl {
    width: auto;
    height: auto;
    line-height: 0;
    margin: 8px 12px;
  }
  .template-tag-container .template-tag.image.salesRankImgUrl {
    width: 88px;
    height: 88px;
    padding-top: 20px;
    padding-bottom: 17px;
  }
  .template-tag-container .template-tag.text.name.center,
  .template-tag-container .template-tag.link.center{
    text-align: center;
    width: 195px;
    height: auto;
    line-height: 40px;
    vertical-align: middle;
  }
  .template-tag-container .template-tag.text.right {
    text-align: right;
    line-height: 46px;
    margin: 5px;
    padding-right: 25px;
    vertical-align: middle;
  }
  .template-tag-container .template-tag.text.left {
    text-align: left;
    line-height: 46px;
    margin: 5px;
    padding-left: 25px;
    vertical-align: middle;
  }
  .template-tag-container .template-tag.text.right.blue {
    background: url(../assets/left_blue_tag.svg) no-repeat;
    background-size: contain;
  }
  .template-tag-container .template-tag.text.right.orange {
    background: url(../assets/left_orange_tag.svg) no-repeat;
    background-size: contain;
  }
  .template-tag-container .template-tag.text.left.green {
    background: url(../assets/right_green_tag.svg) no-repeat;
    background-size: contain;
  }
  .template-tag-container .template-tag.text.left.pink {
    background: url(../assets/right_pink_tag.svg) no-repeat;
    background-size: contain;
  }
  .template-tag.gray {
  }


  /* Thumnail CSS */
  .template-tag-container.thumnail .template-tag {
    width: 100%;
    height: 100%;
  }
  .template-tag-container.thumnail  .template-tag.image {
    text-align: center;
    color: #000;
    width: 100%;
    height: 100%;
    padding-top: 2px;
    padding-bottom: 0px;
  }
  .template-tag-container.thumnail  .template-tag img {
    width: 80%;
    height: 80%;
  }
  .template-tag-container.thumnail .template-tag > p,
  .template-tag-container.thumnail .template-tag__video > p{
    line-height: 1;
    margin-top: 1px;
    margin-bottom: 0;
  }
  .template-tag-container.thumnail .template-tag.image.scoreImgUrl {
    margin: 2px 4px;
  }

  .template-tag-container.thumnail .template-tag.text.name.center,
  .template-tag-container.thumnail .template-tag.link.center{
    text-align: center;
    width: 100%;
    height: auto;
  }
  .template-tag-container.thumnail .template-tag.text.right,
  .template-tag-container.thumnail .template-tag.text.left{
    line-height: 16px;
    margin: 1px;
    padding-right: 10px;
    vertical-align: middle;
  }
</style>
