<template>
  <div>
    <div class="templates-main">
      <div v-for="(template, index ) in templates">
        <h4>{{ template.name }}</h4>
        <div class="template-container" :style="{'width': sizes.containerWidth +'px', 'height': sizes.containerHeight +'px'}">
          <div class="tags-wrap" v-for="item in template.itemsJsonText">
            <div :style="setItemsStyle(item, index)" style="position: absolute;">
              <template-tag :item="item" :isThumnail=true></template-tag>
            </div>
          </div>
          <div class="template-marker-wrap">
            <div class="template-marker" :style="{width: template.markerWidth + 'px'   , height: template.markerHeight + 'px'}">
              <img src="../assets/target-center.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapState, mapGetters } from 'vuex'
  import TemplateTag from '../components/TemplateTags.vue'

  export default {
    name: 'Templates',
    data: function () {
      return {
        scale: 0.33
      }
    },
    computed: {
      model () {
        return this.$store.getters['templates/getAllTemplateModel'](this.scale);
      },
      templates () {
        return this.model.templateModel;
      },
      sizes () {
        return this.model.sizes;
      }
    },
    created () {
      this.$store.dispatch('templates/getAllTemplates');
      console.log(this);
    },
    mounted () {
      this.$nextTick(() => {
      })
    },
    watch: {
    },
    methods: {
      setItemsStyle (item, index) {
        let left, top, width, height, zIndex, style;

        left = item.position.x;
        top =  item.position.y;
        width =  this.sizes.tagsSize[item.dataCol].w;
        height = this.sizes.tagsSize[item.dataCol].h;
        zIndex = item.position.z;

        style = {
          'left': left + 'px',
          'top': top + 'px',
          'width': width + 'px',
          'height': height + 'px',
          'z-index': zIndex
        };

        return style;
      },
    },
    components: {
      TemplateTag
    }
  }
</script>
<style>
  * {
    box-sizing: border-box;
  }
  .templates-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .templates-main > div {
    margin: 20px 10px;
    flex:1 0 20%;
  }
  .template-container {
    position: relative;
    margin:0 auto;
  }
  .template-container .tags-wrap {
    width: 100%;
    height: 100%;
  }
  .template-marker-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: solid 1px #b2b2b2;
    z-index: -1;
  }
  .template-marker {
    border: 2px dotted #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
