<template lang="html">
  <div class="trackable-main">
    <div class="trackble-block">
      <img src="../assets/delete-icon.svg" alt="" class="trackable-btn-delete" @click="show = true" v-show="!show">
      <div class="trackble">
        <img src="../assets/krombacher_6.jpg" alt="">
        <div class="trackble-wrap" v-show="show">
          <p>정말로 삭제하시겠습니까?</p>
          <button class="emart-btn btn-sm">삭제</button>&nbsp;
          <button class="emart-btn btn-sm" @click="show = false">취소</button>
        </div>
      </div>
      <p> sample images </p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Trackable',
    props: {
      title: {
        type: String,
        required: true
      },
      message: String
    },
    data () {
      return {
        show: false
      }
    },
    mounted () {
      this.$nextTick(() => {
      });
    },
    watch: {
      show: function (newVal, oldVal) { // watch it
        if (newVal) {
          $('body').css({overflow: 'hidden'});
        } else {
          $('body').css({overflow: 'auto'});
        }
      }
    },
    beforeDestroy () {
      console.log('destroyed')
    },
    components: {
    }
  }
</script>

<style lang="scss">
  .trackable-main {
    .trackble-block {
      display: inline-block;
      position: relative;
      text-align: center;
      .trackble {
        position: relative;
        width: 180px;
        height: 180px;
        margin: 10px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      .trackable-btn-delete {
        position: absolute;
        top: 0;
        right: 5px;
        z-index: 99;
      }
      .trackble-wrap {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        padding-top: 50px;
        z-index: 99;

        p {
          font-size: 12px;
          color: #fff;
        }
      }
    }
  }
</style>
